    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .register-container {
        color: aliceblue;
        background-color: #007bff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(208, 0, 255, 0.853);
        padding: 20px;
        width: 300px;
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 5px;
        text-align: left;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    p {
        margin-top: 10px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    #video-background {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }